html, body {
    margin: 10px;
    /* Se pueden llamar los estilos con el var */
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

.text-layot {
    color: var(--text-color)
}